:root {
    --border-radius: 5px;
    --color-border: #ccc;
    --color-success: #4CAF50;
    --color-success-dark: #268356;
    --color-error: red;
    --color-overlay: rgba(255 255 255 / 75%);
    --animation-duration: 0.2s;
    --spacing-1: 5px;
    --spacing-2: 10px;
    --spacing-3: 20px;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.heading {
    padding: 0;
    margin: 0 0 var(--spacing-2);
    font-size: 1.75em;
}

.content {
    max-width: 500px;
    width: 90%;
    width: calc(100% - var(--spacing-3) - var(--spacing-3));
    padding: var(--spacing-3);
    display: grid;
    align-content: start;
    margin: 0 auto;
    height: calc(100vh - var(--spacing-3) - var(--spacing-3));
}

.form {
    padding: var(--spacing-3);
    background-color: #fff;
    border-radius: var(--border-radius);
    display: grid;
    column-gap: var(--spacing-3);
    row-gap: var(--spacing-3);
}

.form + .spinner {
    display: none;
}

.form-processing + .spinner {
    display: grid;
    align-content: center;
    justify-content: center;
    z-index: 1;
    background: var(--color-overlay);
    position: absolute;
    inset: 0;
    margin: 0;
    font-size: 1.125rem;
}

.spinner-dot {
    display: inline-block;
    animation: 2s ease-in 0s infinite bounce;
    font-weight: bold;
    padding-left: 1px;
}

.spinner-dot:nth-child(1) {
    animation-delay: 0.2s;
}

.spinner-dot:nth-child(2) {
    animation-delay: 0.4s;
}

.spinner-dot:nth-child(3) {
    animation-delay: 0.6s;
}

@keyframes bounce {
    0% {
        transform: translateY(0%);
    }

    10% {
        transform: translateY(-20%);
    }

    18% {
        transform: translateY(8%);
    }

    20% {
        transform: translateY(0%);
    }

    100% {
        transform: translateY(0%);
    }
}

.form-submitted {
    display: none;
}

.form-group {
    display: grid;
    row-gap: var(--spacing-1);
}

.form-label {
    font-weight: bold;
    font-size: 1rem;
}

.form-input {
    padding: 8px;
    border-radius: var(--border-radius);
    border: 2px solid var(--color-border);
    font-size: 1.125rem;
    transition: border-color var(--animation-duration);
}

.form-input-valid {
    border-color: var(--color-success);
}

.form-input-error {
    border-color: var(--color-error);
}

.button {
    padding: var(--spacing-2) var(--spacing-3);
    background-color: var(--color-success);
    color: #fff;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color var(--animation-duration);
    font-size: 1.125rem;
}

.button:hover,
.button:focus {
    background-color: var(--color-success-dark);
}

.form-message {
    font-size: 1rem;
    margin: 0;
    padding: 0;
}

.form-message-error {
    color: var(--color-error);
}

.dialog-overlay {
    position: absolute;
    inset: 0;
    background-color: var(--color-overlay);
    display: none;
}

.dialog-overlay-visible {
    display: block;
}

.dialog {
    display: none;
    border: solid 2px var(--color-border);
    border-radius: var(--border-radius);
    align-self: center;
    max-width: calc(100% - 40px);
    padding: var(--spacing-3);
}

.dialog-visible {
    display: grid;
}

.dialog-heading {
    font-size: 1.5em;
}

@media (min-width: 700px) {
    .content {
        width: 80%;
        max-width: 760px;
    }

    .form-group {
        grid-template-columns: 1fr 2fr;
        column-gap: var(--spacing-3);
        align-items: center;
    }

    .form-label {
        text-align: right;
    }

    .form-button,
    .form-message {
        grid-column-start: 2;
    }
}
